fastapi
uvicorn
python-dotenv
pydantic
httpx
boto3
pandas
tqdm
python-multipart
streamlit
requests
matplotlib
seaborn
Pillow
wordcloud
fsspec
s3fs
langfuse
ragas
langchain-ollama
langchain-core
openai
langchain-openai
nest_asyncio
